.container {
  max-width: 960px;
}

/*
 * Custom translucent site header
 */

.site-header {
  background-color: rgba(0, 0, 0, .85);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}
.site-header a {
  color: #999;
  transition: ease-in-out color .15s;
}
.site-header a:hover {
  color: #fff;
  text-decoration: none;
}

/*
 * Dummy devices (replace them with your own or something else entirely!)
 */

.product-device {
  position: absolute;
  right: 10%;
  bottom: -30%;
  width: 300px;
  height: 540px;
  background-color: #333;
  border-radius: 21px;
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
}

.product-device::before {
  position: absolute;
  top: 10%;
  right: 10px;
  bottom: 10%;
  left: 10px;
  content: "";
  background-color: rgba(255, 255, 255, .1);
  border-radius: 5px;
}

.product-device-2 {
  top: -25%;
  right: auto;
  bottom: 0;
  left: 5%;
  background-color: #e5e5e5;
}


/*
 * Extra utilities
 */

.flex-equal > * {
  -ms-flex: 1;
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    -ms-flex: 1;
    flex: 1;
  }
}

.overflow-hidden { overflow: hidden; }
.head-background-img{
	position: absolute;
	right: 20%;
	width: 454px;
	height: 312px;
	bottom: 20%;
	z-index: -1;
	background-image: url(../img/sun_card_head_background.png);
	background-repeat:no-repeat;
	background-size:100% 100%;
	-moz-background-size:100% 100%;
}
.head-background-img-2{
	position: absolute;
	right: -5%;
	width: 454px;
	height: 312px;
	bottom: 20%;
	z-index: -1;
	background-image: url(../img/sun_card_head_background_02.png);
	background-repeat:no-repeat;
	background-size:100% 100%;
	-moz-background-size:100% 100%;
}
.head-miniprogram-img{
	background-image: url(../img/suncard/miniprogram.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	z-index: -1;
	position: absolute;
	width: 100px;
	height: 100px;
	margin-top: -6rem;
	
}
.head-title{
	z-index: 5;
}
.head-a{
	margin-top: 4.25rem;
}
.sun-notice-again-background-img{
	/* position: absolute; */
	/* height: 45%; */
	z-index: -1;
	background-image: url(../img/suncard/notice_click.png);
	background-repeat:no-repeat;
	background-size:100% 100%;
	-moz-background-size:100% 100%;
	/* width: 100%; */
	width: 100%; 
	height: 288px;
	border-radius: 8px 8px 0 0;
}
.sun-notice-weixin-background-img{
	/* position: absolute; */
	/* height: 45%; */
	z-index: -1;
	background-image: url(../img/suncard/weixin_notice.png);
	background-repeat:no-repeat;
	background-size:100% 100%;
	-moz-background-size:100% 100%;
	/* width: 100%; */
	width: 100%; 
	height: 288px;
	border-radius: 8px 8px 0 0;
}
.notice-close-background-img{
	z-index: -1;
	background-image: url(../img/suncard/notice_close.png);
	background-repeat:no-repeat;
	background-size:100% 100%;
	-moz-background-size:100% 100%;
	width: 100%;
	height: 39.5625rem;
	border-radius: 8px 8px 0 0;
}
.title-logo{
	background-image: url(../img/httpsauthor/httpslogo_01.png);
	width: 32px;
	height: 32px;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	margin-top: 0.3rem;
}